* {
   background-image: url(images/5153829.jpg);
}
.nav-toggle {
    display: none; 
}

.nav-toggle-label {
    display: block;
    cursor: pointer;   
    padding: 20px;
    position: relative;
}

.nav-toggle-label .line {
    display: block;
    width: 7px;
    height: 6px;
    background-color: black;
    color: black;
    margin-bottom: 5px;
}

.nav-menu {
    position: absolute;
    top: 50px; 
    left: 0;
    background-color: #fff;
    width: 200px;
    height: auto;
    display: none;
}

.nav-menu.active {
    display: block;
}

.nav-menu ul {
    list-style-type: none;
    padding: 0;
}

.nav-menu ul li {
    padding: 15px;
    border-bottom: 1px solid #ddd;
}

.nav-menu ul li:last-child {
    border-bottom: none;
}

.nav-menu ul li a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
}
label {
    width: 7px;
}